.app-button {
  width: 100% !important;
  height: 6em !important;
  outline: none !important;
  border: none !important;
  margin-bottom: 0.5em !important;

  &--disabled{
    background-color: rgb(161, 159, 159) !important;
  }

  &__content {
    font-weight: bolder;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

    &__badge {
      position: absolute;
      right: -1.2em;
      top: -1.1em;
    }
  }
}
