.pro-laylout-header {
  padding: 0px !important;
  height: 48px !important;
  line-height: 48px !important;
  width: 100% !important;
  z-index: 19 !important;
  background-color: #367fa9 !important;
}

.pro-laylout-header > * {
  height: 100% !important;
}

.pro-laylout-sider {
  height: 48px !important;
  line-height: 48px !important;
}

.pro-laylout-menu {
  width: 48px !important;
}

.pro-laylout-menu-item {
  padding-left: 10px !important;
}

.ant-switch.network-status-switch {
  font-weight: bolder !important;
  background-color: rgb(255, 2, 2) !important;

  &.ant-switch-checked {
    background-color: rgb(20, 255, 39) !important;
  }

  & * {
    color: black;
  }
}

.top-nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-right: 2em;
}

.fixed-top-header {
  position: fixed !important;
  z-index: 100 !important;
}

.receipt-tab {
  display: flex;
  justify-content: flex-start;
  margin-left: 2em;
  font-weight: bold;
  border: 1px solid black;
  border-bottom: none;

  &__plus {
    color: green;
    padding: 0 1.5em;
    background-color: #4dd637;
    cursor: pointer;
    &:hover {
      background-color: #58a84c;
    }
  }

  &__item {
    user-select: none;
    padding: 0 1em;
    background-color: #25526b;
    cursor: pointer;
    &:hover {
      background-color: #102733;
    }
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__close {
      color: red;
      margin-left: 1.5em;
      font-size: 2em !important;

      &:hover {
        color: rgb(163, 36, 36);
      }
    }

    &--active {
      background-color: white;
      border-color: white;
      border-bottom: none;
      &:hover {
        background-color: white;
      }
    }
  }
}
