.payment-modal {
  width: 88% !important;

  & table {
    font-size: 1.3em;
  }

  & .btn-group-choose-partner {
    display: flex;
    flex-direction: row;

    & .btn-choose-partner {
      color: black;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      &.active {
        background-color: rgb(43, 142, 172);
        color: white;
      }
    }
  }

  &__row {
    & hr {
      margin: 5px 0 5px 0;
    }

    & div {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      & span {
        font-size: 1.7em;
      }
    }
  }

  & .consultant-label {
    background-color: #e6425e !important;
    font-weight: bold;
    color: white;
  }
}

.btn-cash {
  width: 8.3em;
  height: 5em;

  & b {
    font-size: 1.3em;
  }
}

.ant-tabs-tab {
  background-color: rgb(214, 211, 211) !important;
}

.ant-tabs-tab-active {
  border-top: 0.2em solid blue !important;
  background-color: white !important;
}

.payment-check-status-modal {
  width: fit-content !important;

  &__container {
    display: flex;
    justify-content: center;
    align-items: center;

    & span:first-child {
      font-size: 4em;
      font-weight: 3em;
    }

    & span:last-child {
      font-size: 3em;
      margin-left: 1em;
    }
  }

  &__btn-group {
    display: flex;
    justify-content: flex-end;
    margin-top: 2em;

    & span:first-child {
      margin-right: 1em;
    }
  }

  h4 {
    margin-top: 2em;
    text-align: center;
  }
}

.payment-with-balance {


  &__send {
    display: flex;
    justify-content: center;
  }
}

.payment-with-balance__pay {
  margin-top: 1em;
  display: flex;
  justify-content: flex-end;
}
