.left-bot-area {
  background-color: white;
  padding: -0.2em 0;
  position: fixed;
  bottom: 0;
  left: 1em;
  width: 64.7%;
  z-index: 99;
  height: fit-content;
  border-top: 0.5em;
  border-left: 0.2em;
  border-right: 0.2em;
  border-bottom: 0;
  border-style: solid;
}
