.searchBarResultContainerItem {
  background-color: white;
  padding: 0.3em;

  &.active {
    background-color: rgb(192, 191, 191);
  }

  &:hover {
    cursor: pointer;
  }
}

.autocomplete {
  position: relative;
  display: inline-block;
  z-index: 99;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid gray;
  border-top: none;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 999 !important;

  & strong {
    color: red;
  }
}

.check-expired-input {
  position: relative;
  display: inline-block;

  & button {
    cursor: pointer;
    width: 100%;
    background-color: white;
    border: 1px solid gray;
    display: flex;
    justify-content: space-between;
    outline: none !important;

    &:active {
      outline: none !important;
    }
  }
}

.check-expired-enter {
  padding: 0.5em;
  margin: auto;
  width: 95.5%;
  position: absolute;
  border: 1px solid gray;
  border-top: none;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 999999 !important;

  & input {
    border: 1px solid gray;
    width: 100%;
    outline: none;
  }
}

.table-loading {
  text-align: center;

  h1 {
    color: red;
  }

  span {
    font-size: 2em;
  }
}

.table-qty-input {
  cursor: pointer;
}

.table-discount {
  background-color: #f39c12;
  color: white;

  &:hover {
    background-color: #d18812 !important;
  }
}

.combo_suggestion {
  & td {
    text-align: center;
    vertical-align: middle !important;
  }
}

.fix-right-box {
  position: fixed;
  top: 3.5em;
  right: 0;
  width: 33%;
  height: 100vh !important;
  padding-right: 1em;

  &-inside {
    max-height: 80vh !important;
    display: flex !important;
    flex-direction: column !important;
    align-items: flex-end !important;
    justify-content: space-between !important;
  }
}

.payment-box {
  margin-bottom: 0.5em !important;
  padding: 0.2em;
  display: flex !important;
  justify-content: flex-end;
}

.customer_box {
  margin-left: 1em !important;

  * {
    border-radius: 0 !important;
  }

  &__info {
    font-size: 1.3em;
  }
}

.edit-customer-modal,
.add-customer-modal {
  & input {
    border-radius: 0 !important;
  }

  & form,
  .input-group,
  .form-control {
    width: 100% !important;
  }

  &-summary {
    display: flex !important;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &-title {
      font-size: 2em;
    }
  }
}

.box {
  margin-bottom: 0.6em !important;
}

.customer-box {
  & .input-group {
    margin: 0.1em 0;
  }
}
